@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Nexa";
  src: url("/fonts/Nexa-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "NexaRe";
  src: url("/fonts/Nexa-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir\ LT\ Std\ 95\ Black.otf") format("opentype");
}

@theme {
  --font-inter: "Inter", sans-serif;
}
